[package]
name = "dashing"
version = "0.0.1"
authors = ["igowen"]
license = "Apache-2.0"
publish = false
edition = "2018"
description = "ASCII-style roguelike engine"
repository = "https://github.com/igowen/dashing"
categories = ["games", "rendering::engine"]

[features]
# The ECS part of the library is optional, since nothing in the library itself depends on it.
default = ["ecs"]
ecs = []

[dependencies]
# gfx* powers the rendering subsystem.
gfx = "0.18.1"
gfx_core = "0.9.1"
gfx_device_gl = "0.16.2"
gfx_window_glutin = "0.31"
# gl bindings that allow us to make OpenGL calls directly (this is done sparingly).
gl = "0.11"
# glutin provides windowing capabilities.
glutin = "0.21.1"
# miscellaneous dependencies
log = "0.4.6"
time = "0.1.40"
itertools = "0.7.9"
paste = "0.1.4"

[dev-dependencies]
euclid = "0.19"
gleam = "0.6.7"
hamcrest = "0.1.5"
image = "0.20"
lazy_static = "1.2.0"
offscreen_gl_context = "0.21.1"
png = "0.13.1"
